[2015-08-29 05:03] ellerychan opened #2 "Update README"
Update the `ReadMe.txt` at the top of the repo to capture the new project info.

[2015-08-29 05:10] ellerychan opened #3 "Associate pre-existing issues with appropriate repo(s)"
The issues ported from Google Code have tags saying which sub-project they go with (like `Component-MS`.  Someone should figure out how to associate them with the `brata.masterserver` repo, so they show up in the list attached to the repo, like _this_ issue does.

[2015-08-29 18:01] DragonmasterJ commented on #3
I think we can link issue numbers across projects by using the hashtag, and using the reponame/issue number. Within a project, to link an issue I think you use the hashtag followed by the issue number.

Any new issues in the brata I think we can make new issues in this project and in the description just link the old issue.
For the older ones, maybe we can do the same thing?

[2015-08-29 18:23] ellerychan commented on #3
Sounds good, but I'm not sure I completely understand. I'm going to do a trial run with our favorite issue, I guess like this: brata-hsdc/brata#74?  Are you saying you will just open it as a new issue here and just put this reference in it back to the old one.  Then that one becomes dormant.   We should also put a forward pointer from the old to the new issue.

Do you concur with that approach?

[2015-08-29 18:38] jawaad-ahmad commented on #3
Agreed. Proposed process:
- Find desired issue in brata repo.
- Open corresponding issue in brata.masterserver repo.
  - Same headline.
  - Link to original issue in the comments.
  - Same tags.
  - Note the new issue number, URL, etc.
- Update the original issue in the brata repo.
  - Link to new issue in the comments.
  - Advance its state to resolved.

I’d like to keep the labels consistent acr

[2015-08-29 18:45] jawaad-ahmad commented on #3
Should we have a **cross-reference** label in both repos in order to mark the issues as a cross-reference from another repo?

Should we have another label to indicate some sort of cross-repository change, so expect a corresponding issue in another repo to work another portion of the change? In the old repo we had multiple **Component** labels on the same issue to track this.

[2015-08-29 18:48] ellerychan commented on #3
I don't think we need a **cross-reference** tag.  The end of the old thread will point the start of the new thread, and also the reverse.  The tag would only help if we wanted to find all cases of that, but why would we?  If the issue affects multiple repos then it would be good to link it somehow, so a tag inidicating the other repo(s) is probably appropriate.

[2015-08-29 18:51] jawaad-ahmad commented on #3
How about **partial**?

Also what about to track any dependencies? For example if Issue 14 must be pulled before Issue 8.

[2015-08-29 19:00] ellerychan commented on #3
Will putting the reference in the body as a link (e.g., #3) suffice for that?  Is there any GitHub mechanism that maps those relationships?  I don't want there to be so many tags.  It increases the chance that they will be applied inconsistently, which would decrease their usefulness.

[2015-08-29 19:04] jawaad-ahmad commented on #3
None that I'm aware of; we can ignore for now and address if the need comes up.

[2015-08-29 19:09] ellerychan opened #4 "Simplify and Enhance MS Design"
Continuation of  Simplify and Enhance MS Design brata-hsdc/brata#74 Part 3 only:

Simplify the MS design and operation as follows:

Use a Python-based framework such as Django.  Using Python would have made it easier for more people to help, and using Django would provide much of the infrastructure needed to make a REST-style, MySQL-backed, web application.

[2015-08-29 19:13] ellerychan commented on #3
Did the trial run.  See Issue #4.  It continues from brata-hsdc/brata#74.  I like it.  Straightforward and tidy.  If you agree, you could _close_ this issue.

[2015-08-29 19:37] ellerychan commented on #3
Are we capturing these decisions somewhere for everyone else?  I've started a .md for it, but where should it go?  Wiki?  Tell me where, and I will place it there.  Or if you have already started something, yours is probably better, and I will just update it.

[2015-08-29 19:41] jawaad-ahmad commented on #3
I think a **Process** page on the wiki would be appropriate. At least for the Master Server group. We can promote it to the other teams and get their buy-in before making it a global process.

[2015-08-29 19:42] jawaad-ahmad commented on #3
References look great. How do we make them?

[2015-08-29 19:45] ellerychan commented on #3
If you mean the links to the issues in the repositories, you just type the text, and GitHub recognizes it and makes the link.  Just '#' followed by the issue number for the current repo, and put the repo path on the front of it for other repos.

[2015-08-29 20:05] ellerychan commented on #3
Added the Wiki to brata-hsdc/brata.masterserver.  You should see a new Wiki tab on the right side of your workspace.  I made it just editable by users with push access to the repo.

[2015-08-29 20:16] jawaad-ahmad commented on #3
It appears GitHub issues only have two states: Open and Closed. We'll need to manage additional states via labels.

[2015-08-29 20:23] jawaad-ahmad commented on #3
I added a bunch of states representing our current schema as a starting point; i don't think we need all these and i think we can rename a couple to make more sense for our workflow here.

[2015-08-29 21:29] jawaad-ahmad commented on #4
This is a pretty largely-scoped issue; perhaps it should be broken down.

[2015-08-29 21:37] ellerychan commented on #4
Or broken up.  Go for it.

[2015-08-30 17:30] jawaad-ahmad opened #5 "Redesign the database schema and operations"
Simplify the legacy MS design and operation as follows:

Capture simple transactions in the database.  Rather than update state (such as accumulating scores) as you go, just capture the "raw" events as they come in as individual database records.  If something goes wrong, you will have a better chance of being able to correct it or reconstruct it from the raw events.

This will involve up-front di

[2015-08-30 17:30] jawaad-ahmad opened #6 "Redesign the front-end method of database access"
Simplify the legacy MS design and operation as follows:

Use queries against the database of raw events to total up scores, etc., compute the current state of the competition on-the-fly, and display the results as web pages.

This breaks up Issue brata-hsdc/brata#74 Part 2. Issue brata-hsdc/brata#74 was later continued as Issue #4.

[2015-08-30 17:30] jawaad-ahmad opened #7 "Primary scoreboard enhancements"
Enhance the legacy MS as follows:

I thought the leader board was great.  Make it more readable, and possibly more entertaining.  It is a focal point of the competition.

Also factor in the following older issues into the enhancements:
- brata-hsdc/brata#57 - Ensure leader board fits all team rows on a single screen
- brata-hsdc/brata#58 - Ensure differentiation between trying a challenge and fail

[2015-08-30 17:31] jawaad-ahmad opened #8 "Initial creation of mobile scoreboard"
Enhance the legacy MS as follows:

Make a mobile version of the leader board, and maybe an individual team status board, that a team can access from their mobile device.

An idea we had was to make the **phone leaderboard** just have the team status. This will give all the teams the status they would need without requesting an admin to get it manually from the master server (if an app crashes, the

[2015-08-30 17:34] jawaad-ahmad commented on #4
Created:
- brata-hsdc/brata.masterserver#5 for Part 1
- brata-hsdc/brata.masterserver#6 for Part 2
- brata-hsdc/brata.masterserver#7 for Part 4
- brata-hsdc/brata.masterserver#8 for Part 5

Part 3 will continue here.

[2015-08-30 17:44] ellerychan commented on #4
I just pushed some initial code for this.  I'm starting to build the database schema.  I really could use some Jaron input.

I made a schema diagram.  I put the `.graphml` file in the _transition_ folder.  I should somehow attach a web-viewable version of it to the wiki.  @jawaad-ahmad in particular, but anyone who knows can answer:  What is the best way to keep these two views of the same documen

[2015-08-30 17:46] ellerychan commented on #4
Also, I abandoned the **issue_74_start_django_project** branch and started a new one called **start_django_project_issue4**.  I am going to delete **issue_74_start_django_project**.

[2015-08-30 17:56] ellerychan commented on #6
Modified the issue description by changing "Use SQL queries" to "Use queries".  The Django framework hides the SQL, so there is one less additional thing to learn.

[2015-08-30 18:01] ellerychan commented on #7
If we do proper separation of content and styling, we will be able to proceed in parallel.  Let's make good use of CSS and Django's templates, and we will have a lot of flexibility with layout and styling.

I would love to see some mock-ups early on.

[2015-08-30 18:03] ellerychan commented on #8
See my comment about CSS in Issue #7.

[2015-08-30 19:03] jawaad-ahmad commented on #3
I noticed @ellerychan opened brata-hsdc/brata#91 for part of this work.

[2015-08-30 19:25] jawaad-ahmad commented on #4
Should we settle on a naming convention for issue branches, or does it not matter in Git? I was thinking of something simple like **issue74** and that's it.

Should we open pull requests to review documents such as your `.graphml` file in the `transition` folder?

Regarding keeping them in-sync, should the contributor manually run ImageMagick's `convert` to save as the desired format(s)? Should we

[2015-08-30 19:28] jawaad-ahmad commented on #7
Agreed. What's recommended for content vs. styling these days? Do we do MVVM-style separation using Knockout? Also I updated the title to clarify this is different from the mobile scoreboard.

[2015-08-30 19:29] jawaad-ahmad commented on #8
I would recommend this to go down to `low` priority. It's not necessary till we get all the other stuff working, but it's still good to keep in-mind up-front to make sure we don't box ourselves into a desktop scoreboard only.

[2015-08-30 19:45] ellerychan commented on #4
I don't think that will work for _.graphml_ files.  But it is easy to export from **yEd** into an image format.  I suppose that possibly **yEd** has a command line way to do that, but I don't think so.

I ran into two problems:
1. I don't know how to construct the relative path between different repos.  I tried a couple of times but ended up putting an absolute path to get from the **brata** repo

[2015-08-30 19:59] ellerychan commented on #7
Never heard of _MVVM_ before, but I just looked at it.  It looks like MVC with C renamed to VM.

Again I'm going to recommend not adding another package unless the overall complexity goes down, not up.  I was hoping we could get by with just **jquery** to simplify the JavaScript.  But it is good to know that things like **[Knockout](http://knockoutjs.com/)** exist in case we need them.

[2015-08-30 20:04] ellerychan commented on #8
I was wondering whether all the team <--> ms interactions should be handled by **teamcentral** or whether the mandatory interactions (team registration, messages that are sent as part of a competition event, etc.) are handled by another part, and **teamcentral** is just for optional team status.  I can't think of another part that is more appropriate.

I agree that the info/status/entertainment in

[2015-08-30 20:10] jawaad-ahmad opened #9 "Add support to bypass a challenge"
During the FSL challenge outside, one team's application repeatedly crashed after entering the second waypoint, resulting in running back to scan the arrival code and running to rescan the first waypoint. Need to provide the ability for the MS to accept some sort of team ID/bypass authorization code in order to bypass the current challenge to move onto the next challenge. This would also have to b

[2015-08-30 20:13] jawaad-ahmad opened #10 "Provide team activity search capability"
@jaron42 spent quite a bit of time during the competition searching through logs to pick out clues, parameters, computation results, etc. for a given team ID.

It would be nice to be able to search by team ID or by team name and get a page with all of the team's activity so far, perhaps including multiple instances of a challenge.

This issue continues brata-hsdc/brata#72.

[2015-08-30 20:46] ellerychan commented on #9
Maybe the escorts could have a mobile Admin app that would let them "backdoor" the information into the system so the team could move on, without having to visit the _master scorekeeper_.  It would mean that we would need a sufficiently robust interface to allow for unanticipated situations.  Might not be hard to get a 90% solution, and that might be good enough.

I might need to add `Escort` as a

[2015-08-30 20:50] ellerychan commented on #10
This will be easily supported through the Django admin interface, and any additional functionality we add.

We will need to discuss/define what functionality is needed.

[2015-08-30 21:45] jawaad-ahmad commented on #3
I've been going through the existing issues trying to clean up the ones from last year. I know we said we'd pull-in the MS issues as we work them, but there are two problems with that.
1. At a glance, I don't know what work we have on the MS by looking at the MS issue tracker.
2. The MS-specific issues are cluttering the Brata issue tracker. Same for the others.

I went through and pulled out all

[2015-08-30 21:53] jawaad-ahmad commented on #9
Then we would need another page for the escorts. Not a bad idea, but it would involve additional clients connecting, additional client pages, and as you stated another user type in the schema.

What might be easier to implement would be to stick to the same front-end interface we're already planning. The escort could call Jaron from outside and ask him to push the team through the back door.

[2015-08-30 22:03] jawaad-ahmad commented on #8
Good point. We would need to retain the current functionality of Mike registering the teams manually in case someone's phone is having trouble, but if we push as much self-registration work as possible to the phones, that frees up the Mike and reduces the registration bottleneck.

What interactions do we need to support, and what do we want to support for additional automation? (We might want to o

[2015-08-30 22:16] ellerychan commented on #3
I agree with all that.

[2015-08-30 22:17] ellerychan commented on #9
I recommend we defer the Escort interface functionality.  Maybe it will just fall out later.

[2015-08-30 22:36] jawaad-ahmad commented on #4
I gave it a try too. No luck.

I started a **Wiki** section on the Process page.

[2015-08-31 00:27] ellerychan opened #11 "Set up Initial Master Server Django App"
Stand up the basic skeleton for building the new MS functionality within the Python/Django framework.

Originally this was going to get done as part of #4, but I wanted a separate issue that could be completed in short order.

This is a continuation of **Setup Initial Master Server Django App** brata-hsdc/brata#90.

[2015-08-31 02:01] ellerychan commented on #4
Git enforces no convention.  I would prefer to have at least a clue in the branch name indicating its purpose, so I don't have to go chase down the issue to figure out what it is for.  Typically the branch name would describe the feature being implemented.  Seems good to include the issue number at the end.  Not worth making extra rules about it, IMHO.

[2015-08-31 02:57] ellerychan opened #13 "Implement a REST thread in piservice"
Implement a simple REST transaction to exercise Django and the database, and to lay the groundwork for implementing other REST transactions, which should mostly be pretty repetitive once we get the basic structure in place.

Assume that the team registration process will be similar this year to what it was last year.  Handle the incoming **Register** BRATA message.  See the [Master Server Web Serv

[2015-08-31 02:59] ellerychan commented on #13
Creating branch `first_rest_thread_issue13`.

[2015-08-31 03:13] ellerychan commented on #13
This is the format of the register request from last year:  **`http://ms/m/brata-v00/register`**

I would like to change it around a bit, to be:  **`http://ms/piservice/register/brata-v00`**

`ms` will be replaced by the hostname or IP address of the actual MS server.

`piservice` is the name of the app that is handling it, although it does not have to be.  It would be shorter to call it `pisvc` o

[2015-08-31 04:32] DragonmasterJ commented on #7
That' correct, I've heard scholars says it's more MVP, but that doesn't make a difference for us.

I hate to be the guy that's behind again, but I'm assuming the JavaScript ties the Django app to the CSS? Is that it's own separate layer to worry about, or is it more like Java where it'll more tied into the view than being a separate entity?

[2015-08-31 04:48] ellerychan commented on #7
CSS properties are associated with the HTML elements in the DOM by an element's _class_ attribute, _id_ attribute, element type (`a`, `div`, `ul`, etc.), or nesting relationship (`p` elements that immediately follow an `h1`, for example).  JavaScript is not needed.  However, if JavaScript is used, it can set those attributes dynamically.

[2015-08-31 19:40] jawaad-ahmad commented on #13
1. No objection to changing it around. We haven't deployed anything with which we need to be backward compatible, so we should be free to do what we want at this point because we control both sides of the interface.
   - Keep in mind that the BRATA code base is written to use the current API. If we want to change it, we need to communicate with the BRATA devs. (This would have been a good time to

[2015-09-01 00:58] jawaad-ahmad opened #14 "Add support for timing report"
The leader board showed the teams' duration while running through challenges. It would be nice to capture start and stop times for all attempts at all stations for a team for further analysis and to estimate and plan for wait times better. The competition's original estimate was for the entire run to go from 11:30 a.m. till around 1 p.m. even with all the stations we had and with as few problems,

[2015-09-01 01:19] jawaad-ahmad commented on #3
I moved a bunch over to the station repository with our current labels.

I created a `brata-framework` label in the brata issue tracker for BRATA-specific issues. There were only three.

The rest are all general issues that we need to go through some time soon.

There were a couple that were station-specific, but it looks like the work was already done and we need confirmation from @jaron42 that h

[2015-09-01 01:24] ellerychan commented on #14
I believe the database schema new design (#4/#11) captures timestamps for all incoming events. See `PiEvent` in `piservice`.
![msdb_schema_diagram](https://cloud.githubusercontent.com/assets/6425759/9594231/6e67a590-5026-11e5-8f82-508ec777c6ec.png)

[2015-09-01 01:30] jawaad-ahmad commented on #14
Very well. Assigned to @ellerychan to work into the initial `piservice`.

[2015-09-01 01:48] ellerychan commented on #11
@jawaad-ahmad:  So does this Pull Request thing work?  I created a Pull Request related to this issue, but there is no evidence that anyone has seen it.  Are there notifications that go out, but they are being ignored?  I just want a thumbs-up to push some new code, and also wanted to go through the Pull Request cycle once.

[2015-09-01 03:09] ellerychan commented on #13
Turning off Django's **Cross Site Request Forgery (CSRF) Protection**.  It relies on a cookie being sent by the server in response to a GET request (which in a browser-based transaction would return a form containing the cookie). The POST response back to the server must include the cookie value in order to be accepted.

If the BRATA clients will support that, it can be turned back on.  However, h

[2015-09-01 04:29] jawaad-ahmad commented on #11
I see your pull request #12 only after you mentioned it here and I went to look at all the pull requests. I saw no e-mail notification of this yet, but mine aren't turned on too loudly.

I think we need to modify the [Quick Start](../wiki/Quick-Start) page to name who we want to review in the pull request comment using `@mentions`. See proposed. Note that I haven't tried this out, so I don't know

[2015-09-01 04:38] jawaad-ahmad commented on #13
Will turning off CSRF cause us any problems down the road? Would it be better to fight the battle and leave CSRF on now rather than discover we need it later and have difficulty during a crunch?

Are you doing anything cross-site? I thought all projects inside the Django app would be accessible from the same host/port.

Also I recommend looking into `httpie`. It seems significantly more user-frien

[2015-09-01 05:24] ellerychan commented on #13
I'm not super-clear on exactly what CSRF protects against.  Sounds like it prevents a malicious site from responding back to the server pretending to be you (the client).  Not likely in our scenario.  But I am also not sure how non-browser clients handle cookies, if at all.

In any case, I thought it would require the conversation to start with the client sending a **GET** request to the server, i

[2015-09-01 05:32] ellerychan commented on #11
I did put @jawaad-ahmad in a comment attached to the Pull Request, but not in the original body msg.  I thought that would be sufficient.  I'll add another one.

Seems like it would be curteous to handle pull requests as soon as you can, but _volunteer effort_, etc., so I wouldn't make a rule about it.

[2015-09-01 16:49] jawaad-ahmad commented on #13
If it's only one simple **GET** request to get the token, that doesn't sound bad; however, it also doesn't seem like something we need to worry about at this point.

How about opening an issue to investigate further so we don't forget about it and cross-referencing it here? We can put it on Hold till we need it or decide to work it.

[2015-09-01 16:49] jawaad-ahmad commented on #11
It looks like issues and pull requests come from the same pool of IDs. Nice. It turns out I got an e-mail for #12 two days ago with the following text:

Next e-mail I got was from last night:

So this corresponds to each comment in which you `@mentioned` me.

I'd recommend leaving a pull request sitting out there for at least two days for folks that are busy just so they can get a chance to look a

[2015-09-01 17:31] jawaad-ahmad commented on #7
One item briefly brought up was 3D graphics and status displays. I assume it pertained to this.

There are several fixes noted above for the existing leaderboard. That leaderboard seems like something that can continue for years if maintained, whereas my understanding of the proposed 3D display would only be good for this year.

As such, the changes above look like they're pretty small. Should we

[2015-09-01 20:07] ellerychan commented on #13
Roger. Will create an issue for it.

-ellery-
(from miPhone)

[2015-09-01 23:58] ellerychan opened #15 "Create a 3D status display for one or more of the competition elements"
This year's competition has a space vehicle docking with the space station event.  It would be cool to have some NASA-style graphics for the competitors and spectators to watch while a team was trying to dock.  It could be very simple graphics.  It could even be 2D.  It could be static 3D.

It can be written in Python with `pyglet` or `pygame`.  Probably keep it simple until we see how much graphi

[2015-09-02 00:03] ellerychan commented on #7
I think we should split the 3D displays out.  I created another issue for them (#15).

I think the 3D graphics display should be thought of as just a graphical status display, driven by an external data source.  It could be 3D or it could be simple 2D graphics.  It could evolve into something highly configurable, so I think it could easily have life beyond this year's event.

I think we can handle

[2015-09-02 05:14] ellerychan commented on #13
Check this out.  This REST thread works.  (It's just one request and response.  Diagram created with yEd.)  Now I am trying to clean it up and add the database update part to it.  Then we will have a basic framework to work off of.  It should be quick to implement the specific messages, and then attention can be turned to other parts of the MS functionality like scoring and managing the db and put

[2015-09-03 02:58] jawaad-ahmad commented on #13
Looks good. We need a `message_version` more than the `brata_version`. The `brata_version` is nice to have, but the `message_version` is the one that really matters, and it's allowed to vary per message.

We had a `message_timestamp` too, didn't we?

I would not recommend overloading the version field to indicate the OS type; as long the MS gets the message, it processes it and provides a response

[2015-09-03 03:08] jawaad-ahmad commented on #9
@DragonmasterJ Can you get with @jaron42 and find out what we would need to implement this and #10? It would be good to have a grasp of what's needed for this during the initial parts of the redesign.

We're not interested in how this will look or what device will be used to enter this information at this time. The immediate need for this is to find out exactly what @jaron42 had to look up in the

[2015-09-03 03:15] jawaad-ahmad commented on #10
@DragonmasterJ I think the analysis for #9 ties in with this.

[2015-09-03 03:55] ellerychan commented on #13
I thought that `brata_version` tells the MS that we are going to be communicating with a specific version of the message protocol, so all messages are implicitly in that dialect.  Seems like it could get really confusing to have individual message versions if they differ enough to require different message sequences.

[2015-09-03 03:57] ellerychan commented on #13
I was having the MS add a timestamp to the message when it was received.

I wonder if we want the MS to include a timestamp or sequence number in all responses.

[2015-09-03 18:57] jawaad-ahmad commented on #13
That's good info too, but by then we lose the time at which the message was generated, which could be seconds earlier assuming all the stations are synchronized to the same time source, which I thought was true. It might not make any difference now, but we might realize we need an application for it later.

As stated last year, if we don't need it and don't use it, we can leave it as zero, but we

[2015-09-03 20:17] jawaad-ahmad opened #16 "Implement message cipher"
I believe we only need to worry about messages going to BRATA being encoded using Mike's cipher. If I recall correctly, messages coming from BRATA will not be encoded. Is this correct?

I made a dedicated issue for this due to the nature of special handling for the logic for this. The code for the cipher implementation **must not** be committed to the repository or be discussed/posted on here. The

[2015-09-03 23:30] jawaad-ahmad opened #17 "Implement heartbeat"
Last year we had a quick-and-dirty script written on the morning of the competition to ping all the stations to make sure everything is still up.

Prior to that, I recall discussions about the `connect` message periodically going out to make sure the stations are all up, but I don't recall how this played out during the competition.

Are there any lessons learned that we want to incorporate regard

[2015-09-03 23:50] jawaad-ahmad opened #18 "Investigate scoring improvements"
I understand last year's Master Server was supposed to take a significant amount of the scoring paperwork and automate it.

This is a general issue to ask if there is anything more we can do this year to improve scoring.

Also keep in mind before posting if there are any restrictions on discussing anything regarding scoring here. I would imagine there isn't, but best to ask first.

[2015-09-04 00:08] jawaad-ahmad opened #19 "Implement scoring changes"
Implement changes necessary for scoring for this year. This is different from #18 in that this issue implements any differences in scoring from last year, whereas #18 looks for process improvements related to gathering, entering, and processing data.

[2015-09-04 00:09] jawaad-ahmad opened #20 "Implement launch protocol rework"
During the initial Dev Team meeting, @jaron42 stated that launch protocol rework is needed for this year's Master Server. We should be able to reuse last year's FSL for much of this.

[2015-09-04 01:56] ellerychan commented on #13
Still seems too fine-grained to me, especially at the start.  When we work with an API, we get a new version number for the entire the library.  Some interface entry points have changed and some have not, yet we do not put a version number on each API function call.  I say we don't put a version in every message, and if we decide to later, then we increment the overall version and change the messa

[2015-09-04 02:04] jawaad-ahmad commented on #20
Hold for @jaron42?

[2015-09-04 02:04] ellerychan commented on #13
Regarding the timestamp, and our difference in philosophy.  I tend to design like you and try to anticipate future needs, but sometimes it leads to bloat.  I am trying to be better and keep it minimal.  I think we should let it evolve.  This is not going into a ROM in an embedded system.  I think adding them when we need them is the safer approach.  Otherwise we run the risk of having extra fields

[2015-09-04 02:07] jawaad-ahmad opened #21 "Implement messaging for return"
The Master Server has new challenges to address. Most of the existing messages might work as-is, but the Return to Earth scenario might need to be thought out more.

Once it's thought out, need to implement.

[2015-09-04 02:21] ellerychan commented on #16
Let's separate it as a separate Python module, named something like `hsdccipher` maybe, that gets imported wherever it is needed.  In the repo we can keep a simple one that we can use for development.  Then we can drop the competition version in on the night before at 4 AM before we go home to shower.

How about this:

[code]

[2015-09-04 02:33] ellerychan commented on #17
It might be nice to have a simple separate process handle the heartbeat messages.  The downside is that then it would need to figure out if the main station task was alive and well.  The upsides are:
- it might not go autistic if the station process goes south
- we could send it a message to restart the station process or reboot the system
- it could be a much easier to understand, single purpose

[2015-09-04 02:57] ellerychan commented on #20
What means ye by "launch protocol"?  Or "FSL"?

[2015-09-04 04:15] jawaad-ahmad commented on #11
Let's see if this gets reopened if I post a comment. My choices below are to **Comment** or to **Reopen and comment**. Let me press **Comment**.

Hey you did an awesome job! Keep up the good work!!

[2015-09-04 04:15] jawaad-ahmad commented on #11
Ok still closed. Now what happens if I press **Reopen and comment**.

You missed a spot.

[2015-09-04 04:20] jawaad-ahmad commented on #16
Don't you mean 4:15 a.m.?

We need comments clearly stating what not to do and why:

[code]

[2015-09-04 04:21] jawaad-ahmad commented on #20
FSL was last year's Find Secret Laboratory. I believe students had to find three markers walking around the campus outside, and for each marker there were three choices--one real and two decoys. Once they found all three, they used their tool to get the location of the laboratory--same thing: one real, two decoys.

I believe this year's laser propulsion unit is the first challenge and works simila

[2015-09-04 04:21] jawaad-ahmad commented on #17
So you're saying a completely separate app independent of the Django project? Similar to the script you wrote the day of the competition?

Sounds like a good idea. So its entire purpose in life would be to start up, repeatedly send out a REST message to each device and wait for a response from each device, and set off some alarm if something doesn't respond back in time.

Devices would consist of

[2015-09-04 04:21] jawaad-ahmad commented on #13
Very well. Let's start off slow.

[2015-09-04 04:23] ellerychan commented on #11
After the merge, it said I could safely delete the branch.  What happens to all the stuff attached to it, like all the comments in the Pull Request?  Does that all stay even if the branch goes away?

[2015-09-04 04:40] ellerychan commented on #16
@jawaad-ahmad: Isn't this your issue?
![2015-09-04_0-34-12](https://cloud.githubusercontent.com/assets/6425759/9676683/891d8cdc-529d-11e5-8f51-2da3f5888f3c.png)

[2015-09-04 04:46] ellerychan commented on #17
Actually, I was thinking of a separate process running on the RPi stations, and not the process running the competition (e.g., the `brata.station` software).  This would be a little background daemon that monitored the station's "competition process" and maybe could restart it or reboot if commanded from the MS.

On the MS side, it could probably be another Django app, and by being so it could eas

[2015-09-04 09:45] sminster commented on #17
It might be easier to use a third party package, such as Nagios (https://www.nagios.org/), to do this sort of pinging.  It has a number of modules to check various services (HTTP, etc), as necessary.  It would save us time needing to write all that.

[2015-09-04 12:11] jawaad-ahmad commented on #11
My understanding is yes. A **branch** in Git is merely a pointer to one
specific commit, so by **deleting a brach**, all you're doing is deleting
that pointer. All commits and history along the way are supposed to be
preserved from what I read.

I haven't tried it yet, but from what I've read is that **deleting a
branch** in Git is non-destructive and is the equivalent of marking a
branch obsolete

[2015-09-04 21:04] jawaad-ahmad commented on #16
No one's name was on it. I took it to start the analysis unless someone
wants it more.

Anything that has the `design-required` label would be good for us to start
right now while you're working on the conversion. That way we can iron out
the design soon without everyone being in all the code at the same time.
On Sep 4, 2015 12:40 AM, "Ellery Chan" notifications@github.com wrote:

[2015-09-04 21:16] ellerychan commented on #11
I'll try that, but I wasn't thinking about the code changes.  I was thinking about the discussion thread on GitHub that was attached to the Pull Request.

[2015-09-04 21:20] ellerychan commented on #16
For development, do we need any more than just this?  ...and the secret version to replace it that is kept under lock-and-key until competition day.

[2015-09-04 21:36] jawaad-ahmad commented on #16
If I understand correctly, we have an `hsdccipher.py` file that contains the `HSDCCipher` class definition committed to the repository, and then Mike has another copy of the file to put in at the end.

In addition to `encode` and `decode`, I recommend the committed version also has some sort of `environment` property that returns 'DEBUG' or 'Development'. Mike's copy could return 'Production'.

Th

[2015-09-04 23:29] jawaad-ahmad commented on #17
@ellerychan If we go this route, a separate process running on each RPi seems like a good idea--station, MS, everything. All of the apps--MS, Station, etc. can have a single message defined in the ICD that the heartbeat process would use to verify the app is still up, and the heartbeat processes themselves would indicate the RPi is still up.

The MS app you mentioned could talk to all of the proce

[2015-09-07 14:14] ellerychan commented on #13
We can either register **Team**s in advance, or let them register themselves.  I think we are talking about two different uses of the word _register_, however.

Preamble:  I've refactored the database design a little
- The `School` table is now the `Organization` table.  It will hold schools and HSDC at least.
- The `Mentor` table is now the `MSUser` table.  It will hold individuals, their contact

[2015-09-08 00:44] jawaad-ahmad commented on #13
I vote to add in as many particulars as necessary in advance that cannot be
added the day of. (Is there any datum that fits this?) Known team names can
also be entered at this time.

Self registration can be turned on in the morning to minimize any chance of
mischief sooner, and teams can finish by signing-in and supplying final
info. If team names have already been entered, then this would merely

[2015-09-08 01:39] ellerychan commented on #13
Sounds like we are pretty much in concurrence.  Moving on.

[2015-09-09 02:36] DragonmasterJ commented on #11
This may be from old information, but I read that once we merge, we can no longer open the pull request, if that's what @jawaad-ahmad is talking about above (before deleting branch).

As far as the discussion thread, I think it is attached to the pull request, which shouldn't go away if the branch is deleted.

[2015-09-09 02:41] jawaad-ahmad commented on #16
I have an implementation of Mike's Simple Cipher; I'm asking Mike where he wants it. I notice there's another cipher description as well that takes a key. If we need it, then we'll need to accommodate the parameter as well.

Here's what I have so far with the guts removed:

[code]

[2015-09-09 06:12] ellerychan commented on #16
I suggest using the `unittest` framework if you want to include unit tests.  I threw in a couple in [this module](https://github.com/brata-hsdc/brata.masterserver/blob/first_rest_thread_issue13/workspace/ms/dbkeeper/team_code.py), if you want to take a look.  `unittest` is a standard Python module.  See the docs [here](https://docs.python.org/2/library/unittest.html#module-unittest).  The framewor

[2015-09-09 14:52] ellerychan opened #22 "Enhance MS Web Pages"
The MS web pages served up by the MS Django applications (primarily `dbkeeper` for administration, and `scoreboard` and `teamcentral` for public facing display), need embellishment.

All screens should be refactored to inherit common characteristics from base templates (common layout, look-and-feel).  Proper use of templates can also help minimize and clean up a lot of the _view_ code.

Pages like

[2015-09-09 14:56] ellerychan commented on #13
@jawaad-ahmad, @DragonmasterJ:  I've pretty much completed a couple of initial MS threads (use cases?), so we should probably meet and sync up sometime soon.  I want to make sure I'm not going off into the weeds.  I'm letting you know now, in advance of completing this and issuing the Pull Request, so you can find a time we can meet.  Or we could try to do it online with Skype and screen sharing i

[2015-09-09 14:57] ellerychan commented on #11
Just a note to say that some of this work is currently being advanced along with the stated work in Issue #13.

[2015-09-09 15:06] ellerychan opened #23 "Deploy MS to Apache Server"
Modify the MS Django application to run in _Release_ mode instead of _Debug_ mode.  Deploy it to the correct location to be run by the Apache web server.  Make the necessary modifications to the Apache configuration to recognize the Django apps.

Make sure the MS can be deployed in two different configurations:
1. **Standalone**:  runs on an RPi station that is also running the brata.station softw

[2015-09-10 04:05] jawaad-ahmad commented on #13
I'm fine meeting to go over this. Would you like come to our campus this time? We have large monitors in the rooms of the new building, plus it's probably more likely we can grab @jaron42 while he's there rather than asking him to drive up to your place.

[2015-09-10 04:08] jawaad-ahmad commented on #22
For now, do we want to lower the priority on this till we get some of the larger issues worked? I've been trying to keep Medium and higher for items that we need; this one seems more of a nice-to-have, though I agree it's something we definitely want to make the time to get working.

[2015-09-10 04:12] jawaad-ahmad commented on #23
Please explain the difference between _Debug_ and _Release_ in Django. I understand it supports different environments similar to Grails such as _Development_ and _Production_. How are _Debug_/_Release_ different from environments?

Also I think I mentioned elsewhere we'll need to _Production_ (or _Release_?) environments:
- One for standalone
- One for the competition

Does any of this need to be

[2015-09-10 04:16] ellerychan commented on #13
Sure.  We just have to work around the after-hours security issues.

[2015-09-10 04:24] ellerychan commented on #23
There are two different aspects:
1. Removing the _Debug_ flag, which causes exceptions and other error conditions to be handled differently.  In _Debug_ mode, the exception is thrown and you get the stack traceback, etc.  In what I called _Release_ mode (which is probably really just _not Debug_ mode), it fails more silently.
2. Running in the **Apache** server instead of with the convenient Djang

[2015-09-11 02:48] jawaad-ahmad opened #24 "Allow running challenges out of order"
Last year, a couple cases came up in which it would've helped to have the option to run an individual team's challenge out of order; however, there was hesitation because the situation was untested and impacts to scoring unknown.

This is to track and make sure we have nothing in the Master Server that prohibits a challenge from being run out of order if it becomes necessary during the run.

[2015-09-11 03:13] DragonmasterJ opened #25 "Implement Station Queue System"
This is just an enhancement idea I had when reviewing the messaging system. To help with organizing teams during the competition, the MS could manage a queue for station types based on the states of each station.

We could leave this as information in our MS console to help crowd manage during the competition, or we can make it complicated and make it such that the teams are notified when a statio

[2015-09-11 03:24] ellerychan commented on #24
I believe the current MS approach will support this.  It records low level competition events as reported by RPi stations and BRATA devices.  Each event has a timestamp.  So the capture mechanism is essentially stateless.  It should be possible to reconstruct the score for any team post mortem.

[2015-09-11 03:47] jawaad-ahmad commented on #24
That's great news, but Mike mentioned one more thing. In the case of a team moving out of order, it becomes even more important for us--or even for the team itself--to keep track of the team's progress. If team begins Challenge 1, then attempts 2 and fails, moves onto 3 and then 4, then we probably need some way to track and flag that the team did not yet complete Challenge 2. I believe the leader

[2015-09-11 03:55] ellerychan commented on #24
I believe that, too, can be derived from the log of events.  At this point I can't say what would be a good algorithm to detect things like that, but the needed information should be captured and available for the _business logic_ to digest.

[2015-09-11 18:14] ellerychan commented on #13
@jawaad-ahmad, @DragonmasterJ:  I made a condensed messaging document ([ms_message_summary.md](https://github.com/brata-hsdc/brata.masterserver/blob/first_rest_thread_issue13/transition/ms_message_summary.md)) so I can see more easily what is going on -- sort of a cheat-sheet.  It does is not meant to replace the **Master Server Web Service Interface** document ([ms_interface.md](https://github.co

[2015-09-12 01:20] jawaad-ahmad commented on #13
I like the condensed document. Too bad we have to duplicate some info in both places. It would be nice to link the messages from the table rows to jump to the appropriate section of the ms_interface.md document, but that's probably asking too much. I doubt we can do it with the docs in the repo rather than the wiki, and I don't think GitHub Flavored Markdown supports it.

There are no plans to int

[2015-09-12 01:45] ellerychan commented on #13
I like that answer.

Last year's BRATA and Stations won't be able to talk to this year's MS.  They will get 404s trying to access last year's URLs.  We could catch those URLs easily enough if we wanted to, but I can't think of a good reason at the moment.  If we want to later, we can add it.

[2015-09-12 02:01] ellerychan commented on #13
Next question:  What should we use for a unique Station ID?  Last year we gave them hostnames, but I wonder if it would be better to identify them by their MAC address.  However, even that can change if their network connection changes.  That would not be a problem unless a Pi has two interfaces, like if it was hardwired, but also had a WiFi dongle both connected to the same network.  If we assume

[2015-09-12 15:06] jawaad-ahmad commented on #13
Have you thought about using part or all of the serial number?

http://raspberrypi.stackexchange.com/questions/2086/how-do-i-get-the-serial-number

[2015-09-12 15:19] ellerychan commented on #13
I'll check it out.  Thanks.

On 9/12/2015 11:06 AM, Jawaad Ahmad wrote:

[2015-09-15 03:09] DragonmasterJ commented on #9
I didn't see these assigned, I'm surprised they didn't flag a notification for me. I'll try to send out a feeler to @jaron42 tomorrow. If I forget, feel free to pull on my bootstraps about it.

[2015-09-15 09:40] jaron42 commented on #9
@DragonmasterJ and @jawaad-ahmad the things I was looking up were dependent on what communication issue the team had with the MS.  That is why we are saying this year if you can't talk with the MS you don't get points.  For example some could not decode the clue data that was sent back to them, so I looked up in the log what was randomly generated and then told them what they should have gotten ou

[2015-09-15 09:53] jaron42 commented on #9
In my opinion we drop the priority to low, and they just don't get the points.  We make this clear up front and we give them plenty of chances for integration testing.

[2015-09-15 14:46] ellerychan commented on #9
@jaron42:  I would like to sit down with you sometime relatively soon to show you the direction I'm going with the MS interface, mostly to get your feedback as to which things would have been helpful in the heat of battle, and which things not so much.  I don't have many specific questions at the moment, but you could probably cause me to think of some.

[2015-09-16 02:53] jawaad-ahmad commented on #9
Lowered the priority on this and raised brata-hsdc/brata#94, which will help with the students' integration testing.

[2015-09-16 03:33] jawaad-ahmad commented on #25
Raised to low priority to match the rest; otherwise it'll get buried. We can re-evaluate priorities in a couple weeks after we get all the highs and mediums worked.

I like the idea of this. Given all that we would have to do, I don't see this getting worked till after March though.

Whenever we get around to this, I would envision this as something like having everyone sitting around as if in a w

[2015-09-16 03:50] DragonmasterJ commented on #25
Yeah, I didn't even think about doing a timeout. That sounds awesome.

I had the same idea, since we may want to add the animations for the docking and return to earth, if we have more displays going on in the main area of the room, teams can watch what is going on with the animations without having to worry about someone having to call them to stand in a queue, etc.

This makes it even more engag

[2015-09-16 04:04] ellerychan commented on #9
@jaron42:  I would like to sit down with you sometime relatively soon to show you the direction I'm going with the MS interface, mostly to get your feedback as to which things would have been helpful in the heat of battle, and which things not so much.  I don't have many specific questions at the moment, but you could probably cause me to think of some.

[2015-09-19 00:13] ellerychan opened #26 "Verify that PostgreSQL is installable on Raspbian"
Install PostgreSQL on a an RPi.  Verify that it works.  Record the instructions in the [ReadMe](../blob/hsdc2016/README.md).

MS development is proceeding on the assumption that PostgreSQL will be the back-end.  It's not a big deal to switch, but it would be good to know ASAP so a lot of backup/restore and other admin instructions don't need to be rewritten.

[2015-09-19 15:21] ellerychan commented on #13
@jaron42, @jawaad-ahmad, @DragonmasterJ: I'm going to open a Pull Request for this issue because I have a bunch of code to deliver that goes well beyond the original scope of the issue.

After that, I'll look for another issue where it is appropriate to continue development.

I still would like to get together to give you a live demo of what I have put together so far.  I have a bunch of ideas in

[2015-09-19 21:25] jawaad-ahmad commented on #13
Two times I've observed merging early prior to conducting reviews:
- Get something stood up at the beginning.
- Get last-minute fixes in just before delivery.

In both cases, the mentality I've often observed is to go ahead and do what needs to be done and we can catch up on the paperwork later.

Since we're still in the initial development of the MS, I propose going ahead with the pull request an

[2015-09-19 21:32] ellerychan commented on #13
Let's do it.  I'm available any evening but Tuesday next week.  Wednesday would be best.  Thursday not so great but doable if it's the only time.  Someone on your end will have to arrange it and let me know.  I think 1.5 to 2 hours would be sufficient to cover everything and allow for some brainstorming.  We can go longer if you want.

[2015-09-19 21:48] jawaad-ahmad opened #28 "Implement CSV Ingest"
From [comment](../commit/3d72d964b7dca55b9f6968ce77e2c6df8ae7ff9b?diff=unified#commitcomment-13014361):

Jaron/Mike maintain some information in the spreadsheet for schools/teams that would be useful to save as a CSV and ingest into the database to reduce/eliminate manual entry on the day of the competition.

It would be good to have a dump/restore capability (exists as `pg_dump msdb > dump.sql` /

[2015-09-19 21:54] jawaad-ahmad opened #29 "Generating Team IDs"
From [comment](../commit/3d72d964b7dca55b9f6968ce77e2c6df8ae7ff9b?diff=unified#commitcomment-13014385):

Discuss how we want team IDs generated. How many characters, how many check digits, how will they be expired/reused. How to guard against transposing characters.

[2015-09-19 22:04] ellerychan commented on #29
First of all, do we want to keep the "user-friendly" form of the code, where each character is a word?  Or is it not fun and not useful.  The team only really needs to enter it once, I believe.  After that, the ID code is stored in the BRATA for inclusion in messages.

[2015-09-19 22:06] ellerychan commented on #29
We can reduce the chance of character transposition by appliying a different transform to each letter, such as rotating the bits of each character by _index_ bits, where _index_ is the character's position in the string, before summing and modding them to get the check value.

[2015-09-19 23:33] jawaad-ahmad commented on #29
The user-friendly words aren't in the functional spec yet; no reason the spec can't be changed if we go down this route.

A simple N-character team ID is simple and it works, but agreed the words would add to the fun. I think you made a comment about running out of ice cream flavors. Perhaps we could add toppings to the list if we need more values.

Would the scoreboard reference the team ID at al

[2015-09-20 03:19] jawaad-ahmad commented on #26
An installation of Postgres shouldn't be more involved than this. If it works, recommend copying the text here to the ReadMe as @ellerychan requested.

| Description | Name | Value |
| --- | --- | --- |
| Database Name | DBNAME | hsdc |
| Database User Name | DBUSER | pguser |
| Database User Password | DBPASS | pghsdc |

Update values above to our liking for development. Production values should

[2015-09-20 03:56] ellerychan commented on #29
Team ID will be in the database, so there will be multiple ways to get to it.  But I also thought we might print it on something, just in case.

[2015-09-20 04:04] ellerychan commented on #26
If PostgreSQL is running on the same host as the Apache/Django MS, only the local port needs to be enabled.  The others can be disabled for better security.

Also please check that the PostgreSQL configuration plays well with the Django configuration when Django is running in the Apache server.

[2015-09-20 19:50] ellerychan opened #30 "Implement "Invalidate Team Registration""
It may be necessary in select circumstances to invalidate a Team's registration in the Master Server, to allow the Team to re-register with the same device, or more likely, a different device.

Add a means to do this through the MS administrative interface.

The manual intervention aspect of this function is considered advantageous for two reasons:
1. It will minimize gratuitous re-registration
2.

[2015-09-23 11:37] jawaad-ahmad commented on #29
How about have the leaderboard have columns something like: Team Name (Team
ID)[*], Score 1, Score 2, Score 3, Score 4, Total?

(The optional asterisk indicates some sort of problem e.g. disqualification
as proposed earlier.)

[2015-09-23 14:19] ellerychan commented on #29
I renamed the Team ID to `team_passcode` in the database, as I see it being used like a PIN, so displaying it on the leaderboard probably is not appropriate.

I feel the Team ID concept has gotten messy.  Trying to clarify and simplify...

My current thinking:
- It's just a simple password or PIN
- No check digits are necessary
- It's only purpose is to authenticate a Team so they can get their `r

[2015-10-03 03:25] ellerychan commented on #17
In #13 I added a `Heartbeat` message that the Stations can send periodically.

[2015-10-03 03:32] ellerychan opened #31 "Activate Django authentication and make admin actions secure"
Turn on the Django authentication mechanism, so that admin users must log in to perform maintenance and housekeeping operations that modify the database.

This requires adding a decorator to all view methods that need to be secured.  See the [Django docs on authentication](https://docs.djangoproject.com/en/1.8/topics/auth/).

[2015-10-03 03:53] ellerychan commented on #13
@DragonmasterJ:  Can you tell me the names of all the station types that will be in the competition?  I only know **Return To Earth (RTE)**.

[2015-10-11 00:14] DragonmasterJ commented on #13
@ellerychan:
I know we've discussed this through email and in person, but I wanted to document it here in writing as well. I'll take a look at any documents we have mentioning the station and make sure the names are updated.

The stations are:
Return to Earth (RTE or Return)
Secure
Dock
Launch

[2015-10-11 05:10] jawaad-ahmad commented on #13
I recall the Launch challenge having no station; has this changed?

Dock could have a dedicated station or could be software running on
anything with a monitor connected. Have we decided what we are doing for it?
On Oct 10, 2015 8:14 PM, "Justin" notifications@github.com wrote:

[2015-10-13 04:58] ellerychan commented on #13
@jaron42:  I am implementing the old BRATA message formats alongside the new ones.  I figured I wouldn't throw away the new stuff.  I don't see how some of the old messages functioned, from looking at the docs (`Submit`, `Start Challenge`).  I'm guessing the docs are wrong.  I suppose I could look at the old PHP code.

[2015-10-18 03:22] ellerychan commented on #30
I think I already have the functionality implemented, but it sounds like it will not be used.  See **brata [#94](../../brata/issues/94)**.

[2015-11-08 13:17] jaron42 commented on #23
@ellerychan I believe this is related as I am trying to stand up an MS now into what would be release mode, and I am stuck at the very beginning.  I am filing in the install steps with what I believe is needed but hit a suggestion in the Django install that I am not sure we are doing or not but sounds like a good idea.  Apparently you can create virtualenv for python so that your python changes ar

[2015-11-08 14:50] ellerychan commented on #23
@jaron42 I am personally using _virtualenv_ in my development configuration.  I'm not sure how to set that up in an Apache deployment.  It requires running an activation script before running Python, or invoking Python itself through a wrapper script, so maybe it is straightforward.

Also, I have had trouble with some Python packages installing properly in virtualenv, but all the required packages

[2015-11-21 03:08] ellerychan opened #32 "Do not require Registration field in Team Admin form"
The Admin form to `Add a Team` requires a value for the Registration field, but no value should be required as the team is not registered initially.  The problem was discovered while debugging with @jaron42.

The Admin form is validating the form fields and wants a value supplied.  I fixed this by making the Registration field read-only.

Because this was a minor change and there is little activit

[2015-11-21 03:29] ellerychan commented on #32
I was bad and pushed directly to **hsdc2016**.  It turned out weird.  The merge just shows changes to the ReadMe file, which came from @jaron42.  However, my changes seem to be there, too.

[2015-12-20 15:49] jawaad-ahmad commented on #6
@ellerychan Where are we with this issue? Is there anything more to do for this one?

[2015-12-20 15:49] jawaad-ahmad commented on #5
@ellerychan Where are we with this issue? Is there anything more to do for this one?

[2015-12-20 15:49] jawaad-ahmad commented on #19
@ellerychan Is this currently in-scope for my scoring task? What needs to be done for this?

[2015-12-20 15:49] jawaad-ahmad commented on #7
I believe a bunch of the original issues listed here should be addressed with the current changes to the scoreboard. I'm taking this so I can keep these in mind while working the updates to make sure the original issues get addressed.

[2015-12-20 15:49] jawaad-ahmad commented on #8
@ellerychan I assume this one is still low-priority; we're not working on this at the moment. Correct?

[2015-12-20 15:49] jawaad-ahmad commented on #18
@ellerychan I assume this one is still low-priority; we're not working on this at the moment. Correct?

[2015-12-20 15:58] jawaad-ahmad commented on #23
An action came out of Wednesday's integration meeting to create an issue for an install script. It seems in-scope for this issue. I updated the description above.

[2015-12-20 16:00] jawaad-ahmad opened #34 "Waypoints for Launch Activity"
This came out of the 12/16 integration meeting.

Mike - GPS coordinates from last year
DB table?
Config file that gets read in?
Settings table

[2015-12-20 19:38] ellerychan commented on #6
This is the description of the entire MS redesign.  I vote we close this as being too broad now.

[2015-12-20 19:53] ellerychan commented on #5
This mechanism is implemented.  I vote to close.

[2015-12-20 20:56] ellerychan commented on #19
I believe this is half of your scoring task.  The other half is designing the leaderboard web page.  I can probably help with this at some level.

This task would be implementing the logic for Mike's scoring rules, and writing the queries that use the logged transactions for a Team to determine the Team's sequence of actions and the resulting score.  You will probably find that additional informat

[2015-12-20 20:57] ellerychan commented on #8
Correct.

[2015-12-20 21:00] ellerychan commented on #18
There should be little manual intervention needed on competition day for the competition scoring.  I have made some custom MS screens for some of the initial entry tasks before the competition.  We can pretty easily add other functionality as needed.

To the extent that this refers to scoring for some of the pre-competition team events, we are not currently doing anything to help with that.

[2015-12-20 23:17] jawaad-ahmad commented on #19
Where are Mike's scoring rules, and is there any problem with having information about the scoring public--whether here or committed to the repositories?

[2015-12-20 23:55] jawaad-ahmad commented on #13
Anything left to do for this, or can we mark this as resolved?

[2015-12-20 23:55] jawaad-ahmad commented on #26
Anything left to do for this, or can we mark this as resolved?

[2015-12-20 23:55] jawaad-ahmad commented on #11
Anything left to do for this, or can we mark this as resolved?

[2015-12-20 23:55] jawaad-ahmad commented on #4
Anything left to do for this, or can we mark this as resolved?

[2015-12-21 01:15] ellerychan commented on #19
I think Mike's spec v1.1 PowerPoint doc is the reference.  It is not publicly accessible but you can get to it.  It will go to the schools, so there is no secret about the scoring rules.

[2015-12-21 01:20] ellerychan commented on #13
This can be closed.  It was merged into hsdc2016 in Pull Request #27.

[2015-12-21 01:21] ellerychan commented on #26
@jaron42 has gone through this process, so he should be the one to say.  Since it is running on the Pi, I would say he was successful.

[2015-12-21 01:22] ellerychan commented on #11
Done.  Close it.

[2015-12-21 01:24] ellerychan commented on #4
Superseded by many more specific Issues, so this one can be closed.

[2015-12-21 03:40] jawaad-ahmad commented on #2
Is there anything more to do for this?

[2015-12-21 03:40] jawaad-ahmad commented on #14
I remember seeing a duration in the database table. Is this being worked or has it been worked already? If so, is there anything remaining for it, or can it be resolved/closed?

[2015-12-21 03:40] jawaad-ahmad commented on #29
How are things with this issue? Can this be resolved/closed as well, or is there still anything more to do with it?

[2015-12-21 03:40] jawaad-ahmad commented on #28
Are we still planning on working this? Is it still Medium-priority, or should it go up/down at all?

[2015-12-21 04:31] ellerychan commented on #2
It is still incomplete, but people should continue to add items as they find them and where they see a need.  I am unassigning myself from this task.

[2015-12-21 04:34] ellerychan commented on #14
This is implemented with the current transaction scheme.  And contrary to what the description says, this is a necessary feature, as the durations are needed as an input to the scoring.  I vote to close it.

[2015-12-21 04:35] ellerychan commented on #29
Some of it is OBE.  Some of it is still being debated.  Let's keep it open for now.  I am assigning it to myself.

[2015-12-21 04:38] ellerychan commented on #28
We may still want to import some competition day parameters this way.  We should not have to resort to raw SQL for emergencies.  The Django admin interface provides a higher level way to interact with the database if we need to.  We should strive to anticipate needs, however, and have custom screens to accomplish those tasks.

[2015-12-21 05:17] jawaad-ahmad commented on #19
## Detailed Design

Here is what I got from the spec. Please review.

## Questions
- How to detect the time completed/given up when:
  - What happens if a challenge is restarted (arrival QR code rescanned) without completing the challenge? (Perhaps hours later?)
    - **1/6/2016 UPDATE:** Ellery's response: Once the arrival QR code has been scanned, rescanning it should be ignored until the challe

[2015-12-21 05:37] ellerychan commented on #19
I think your understanding pretty much matches mine.

Your questions:
- _What happens if a challenge is restarted (arrival QR code rescanned) without completing the challenge? (Perhaps hours later?)_
  - Once the arrival QR code has been scanned, rescanning it should be ignored until the challenge has been completed.
- _What happens if a challenge is not restarted?_
  - Not sure when this would oc

[2015-12-21 06:15] jawaad-ahmad commented on #19
If I understand correctly, it looks like I need to walk through the `PiEvent` table to compute the scores, so each time the page makes the call, I walk through recomputing everything, update the team's scores, and pass back the results.

Is there any other table I need to look at besides `PiEvent`? I assume `PiEvent` holds all the station events only; what about stationless challenges such as Laun

[2015-12-21 15:17] ellerychan opened #35 "Document contents and add maintenance features for Setting table"
The `Setting` table is a simple key/value table that holds a variety of constant values, some of which are "secret" and may be set just before competition time.

We need a simple document to record what is expected to be in the table, so that the Django apps that use the values don't break.  The doc should probably be a table with the following columns: **Key Name, Value Description, Dependent App

[2015-12-21 15:26] ellerychan opened #36 "Provide MS Operator with easy Reset Challenge"
The MS operator needs an easy way to reset a Challenge for a Team in the event of a station failure or other system problem.  The Team should not be charged for time spent on the incomplete Challenge if the failure is not their fault.

The database can insert a `Cancel` transaction (which would need to be defined), or use some other method to record the situation.

We may want a way to Reset a Cha

[2015-12-21 15:41] ellerychan commented on #19
Yes, or you could loop and make an individual Ajax call for each Team, and update them one at a time.  That could spread the load out if it becomes an issue.  I think with proper queries, you can get the data you need without having to walk the entire table backwards.  For example, you should be able to query for the most recent Start Challenge from a Team.  It should be an interesting algorithm.

[2016-01-07 00:29] jawaad-ahmad commented on #19
Please re-review. I updated the original design marking the updates with **1/6/2016 UPDATE**. This incorporates all of the comments by @ellerychan since then till now, and also incorporates the e-mail from @DesignChallengeGuy earlier today. @DesignChallengeGuy is on-board with these changes; we just reviewed them before I submitted.

[2016-01-07 03:26] ellerychan commented on #19
I have re-reviewed your design requirements.  All looks good.  I have been working on the Dock stuff recently, and discussed with @DesignChallengeGuy how to score a did-not-finish simulation (where velocity goes to <= 0 before destination is reached).  The team will be charged 2x the flight time before v == 0.  To make scoring easier, probably the Dock Pi should return the 2x time, so the MS doesn

[2016-01-09 16:53] jawaad-ahmad commented on #19
@ellerychan, I updated the design post above with **1/9/2016 UPDATE**.

Additional questions:
1. The `PiEvent` table has a `team` column that I can use to filter events by team. Can we add a 'challenge' column so events are recorded by challenge, or null if no challenge applies? That way I can further filter by challenge to see only the events for a particular challenge.
2. It looks like I'm suppo

[2016-01-09 19:49] ellerychan commented on #19
@jawaad-ahmad:  You are moving the design of the scoring computation to a more "stateful" form.  I understand that it may be necessary to do for performance reasons.  I think it's okay as long as all the values can be recomputed at any time from scratch.  Are there known performance issues, or are you anticipating?

Sure, we can.  However, `challenge` could also be computed on the fly with Django'

[2016-01-11 01:38] jaron42 commented on #29
I am opening another issue that is related so that I can try to get code in to get registration working.  I have the brata code changed to assume the pass code is just part of the end of the url and it will get back and persist the reg_code for usage.  I need to test it though, so I am creating a repeat reg_code issue and branch on the MS.  I am going to hard code the pass code and generation of t

[2016-01-11 01:40] jaron42 opened #37 "Reg Code"
We need the master server to accept the registration url with the passcode as the last element of the path and use that to look up the team as well as respond with the reg_code they should use.  There is an open issue @ellerychan is working for how the passcode and reg codes are generated so this issue will only put in the initial framework for this part of the solution and be completed with that

[2016-01-11 02:53] ellerychan commented on #29
`reg_code` should be getting generated in the Register message.  See the [Register](https://github.com/brata-hsdc/brata.masterserver/blob/hsdc2016/workspace/ms/piservice/views.py#L209) message handler.

[2016-01-11 02:59] ellerychan commented on #37
@jaron42:  I haven't visited that stuff in a while, but I think it should all be there.  Maybe a couple of loose ends need to be tied up, but I think the MS side of it should generate reg_codes and handle Register and Unregister messages from the Brata.  I think you will only need to make a small adjustment to the URL regex pattern (in **piservice/urls.py**) to pass the passcode in the URL, and ad

[2016-01-11 03:47] ellerychan commented on #37
@jaron42:  I don't know if this is something you need, but there is [one commit (af03eee)](https://github.com/brata-hsdc/brata.masterserver/commit/af03eeebe391c3d54c4b4ecebaaca87fac47d941) that you might want, which is in the `leaderboard` branch, and not merged into the `hsdc2016` branch.  It is only a 2-line change, but it does change the **Team** table.  It fixes the problem we found where we c

[2016-01-11 04:31] jaron42 commented on #37
Thank you for the tips.  I think I just have it about all worked out and the changes made.  I am just trying to find the algorithm for passcode generation so I can match the url change for the passcode parameter.  After that I will test it out and if it works I will commit it and make a pull request for your review to make sure I didn't mess it up too bad.

[2016-01-14 00:22] jawaad-ahmad commented on #19
Meeting notes. Please review.
- Use annotate to compute `challenge` on the fly.
  - The PiEvent table has a team field and a pi.station_type field to indicate which team and which station type recorded the event; we could give the Master Server a pi ID to record in here for Launch as well.
- Don't need the rank column; remove it.
- Let **scoreboard.html** recompute the scores each time; no need to

[2016-01-16 04:00] jawaad-ahmad commented on #19
I posted PDL for the Secure station [above](#issuecomment-166204850). Please review.

This looks like it's the simplest case out of all of them, so I'd like to iron this one out so I can use it as a basis for the others.

Note the assumption--I'm expecting to get the final SUCCESS/FAIL event posted, so the MS is responsible for receiving the scanned Secure QR code, pairing it with the station's ac

[2016-01-20 23:29] #37 closed, assigned to jaron42

[2016-01-20 23:38] jaron42 opened #42 "Interface Integration Issue"
For the interface changes needed for each station during integration we need a branch as all need to change at the same time, so this branch is capturing all the changes made on 1/20

[2016-01-21 00:58] jawaad-ahmad commented on #19
Discussed Launch with Jaron and Ellery. Need to account for phone dying; this will be additional re-scanning of the Arrival code.

Clarification: Team will traverse the Launch course only once--they will get multiple attempts at each site to scan the correct marker.

Jaron thinks it will be easier to provide a Success/Failure following each marker being scanned.

Ellery is working the Dock station

[2016-01-21 15:28] ellerychan commented on #19
@jawaad-ahmad: Some follow-up on that:

The **SUBMIT** message has three fields in the JSON body.  So right now we are using it in polymorphic fashion:  the contents are dependent on the type of station it is coming from.  _We could decide that it would be better to have each station send a different message type, or to have the type as an additional field in the message, to avoid an extra databas

[2016-01-22 02:28] jawaad-ahmad commented on #19
I have incorporated meeting notes into the Detailed Design [above](#issuecomment-166204850). This now accounts for restarting challenges due to a phone dying. Please re-review.

@ellerychan I have not looked at your last note above yet.

I do have some assumptions in the PDL [above](#issuecomment-166204850) that I would like your feedback on. In particular, it looks like there are two bits of info

[2016-01-22 03:12] ellerychan commented on #19
@jawaad-ahmad:  The Dock PDL looks mostly correct.  A couple of clarifications:
- I believe we are calling the QR code that gets scanned after a docking attempt the "Latch" QR code, not "Secure".  Maybe a copy/paste error?
- At the end of an attempt, the Dock station will send a `Submit` message to the MS.  It will contain the **elapsed time** of the docking attempt (how long it would take to dock

[2016-01-23 19:13] ellerychan commented on #28
@jaron42 I am commandeering this issue to add storage of competition parameters in the database.  My plan is to store them as JSON in the Settings table.  I will also provide a method for entering the data.  The goal is to have a better method than "type the values into the admin interface."

[2016-01-27 12:54] jaron42 commented on #42
@ellerychan I just wanted to let you know that I tried to do the following for getting gunicorn up on a raspberry pi2 to see if we can get a HW and SW performance boost.  However, installing django is throwing errors.  I am going to keep trying later but I don't have time to work though that right now.  I was wondering if you had tried too and if so did you have more luck?  I am wondering if it is

[2016-01-28 06:00] ellerychan commented on #28
@jaron42: I'm adding forms for entering the data.  Will see about storing to a file/loading from a file once that is complete.  As discussed before, we can just use `pg_dump` to save the SQL.  Please comment if you think this is not a sufficient solution.

I added buttons to the **index.html** page to get to the entry forms.

[2016-02-03 03:36] jawaad-ahmad commented on #19
I've been fighting with git the past couple days trying to get my branch synced to the `hsdc2016` branch. I've given up and I'll ask for help tomorrow night.

I incorporated our notes from last week into the Detailed Design [above](#issuecomment-166204850).

Responses to the recent posts above...

Thanks for the info about the polymorphic **SUBMIT** message; I'll take it into account.

I think we

[2016-02-04 03:46] jawaad-ahmad commented on #19
Updated PDL in Detailed Design [above](#issuecomment-166204850) to account for start time/duration calculation when no START CHALLENGE events found in the database.

[2016-02-05 01:49] jawaad-ahmad opened #49 "Provide Game Over Control"
Scoring (Issue #19) will need to know the time at which the event concluded in order to "stop the clock". This was discussed with @ellerychan either last week or the week before.

Issue #19 added an `EVENT_CONCLUDED_MSG_TYPE` to the piservice models and is using it currently.

This issue is to provide the MS Operator with a control that will post this event into the database exactly once--no need

[2016-02-05 03:34] ellerychan commented on #49
Do we also need a marker at the start of the competition?  Seems like it might be a good idea, in case there are spurious events caused either by people wandering around scanning QR codes indiscriminantly, or from any setup testing.  We can either insert a marker event or delete all the stored events.  I think we should be able to do either or both.

[2016-02-06 03:54] ellerychan commented on #28
This issue evolved into the creation of web forms for entering and editing the challenge parameters, plus accessor methods for retrieving the challenge parameters from the Setting table.

[2016-02-06 07:01] #11 closed, assigned to ellerychan

[2016-02-06 07:02] #13 closed, assigned to ellerychan

[2016-02-06 07:02] #14 closed, assigned to ellerychan

[2016-02-06 07:03] #32 closed, assigned to ellerychan

[2016-02-06 07:04] #6 closed, assigned to nobody

[2016-02-06 07:04] #4 closed, assigned to ellerychan

[2016-02-06 07:09] ellerychan commented on #34
This has been handled in Issue #28 **Implement CSV Ingest**.  The Launch activity parameters (the vertices and center for the 3 triangles) are input via a web form and stored in the Setting table.  There are accessor methods for retrieving the values for Launch (and the other activities).

[2016-02-06 07:09] #34 closed, assigned to ellerychan

[2016-02-06 07:19] ellerychan commented on #15
This was mostly handled in [brata.station Issue #17](http://github.com/brata-hsdc/brata.station/issues/17).  The MS component of this is handled as part of the other challenge coordination and scoring issues.

[2016-02-06 07:19] #15 closed, assigned to ellerychan

[2016-02-06 07:24] ellerychan opened #55 "Create a Team test interface for the Launch challenge"
This interface will be a simple web page or two.  The main page will have a Google Map with markers showing the location of some candidate Launch waypoints.  One will be correct and the others will be
decoys.  The team can test their Brata by navigating to the waypoint, and can check the result by indicating on the page which point they think is the correct one.  The page can then tell them correc

[2016-02-06 15:57] ellerychan commented on #55
@jaron42 :  Things we should do for this testing interface:
- Turn off debug mode
- Make a top level URL:  **http://**_ms_**/hsdc/test** should get you to the remotetest page.
- Use a different base template without all the links back to our admin stuff

I'm doing some of this.

[2016-02-07 03:20] jawaad-ahmad commented on #49
Good idea.

Deleting would be simpler and quicker to implement. Plus logic such as the Issue #19 pseudo-code already takes this into account; accounting for the new starting marker won't be difficult, but it will be another change.

If we choose deleting events, the GUI should have sufficient guarding to prevent the operator from accidentally invoking this. Should there be protection to only let t

[2016-02-07 06:18] ellerychan commented on #35
Started a spreadsheet to capture the variables that are needed in the Setting table.  Put it on the SharePoint site and not here.  Eventually some version should be put into the repository, when it can be done without giving away any competition spoilers.

[2016-02-07 06:22] ellerychan commented on #35
I guess I de facto inherit this Issue.

[2016-02-07 06:58] jawaad-ahmad commented on #19
@ellerychan You asked earlier if I need the **simulation time** in the `Submit` message. If I recall, I should be able to get what I need by looking at the difference in timestamps of the `Start Challenge` and `Latch` events assuming the `Latch` event is posted at the moment the simulation **begins**, not **ends**. Is this assumption correct?

[2016-02-07 07:13] jawaad-ahmad commented on #19
Actually, @ellerychan one of the assumptions I had documented above was the `Submit` message with the SUCCESS/FAIL status will be posted following reception of the Latch QR code being scanned. If so, I can use the `Submit` message and I won't need to look for one more message type, and my Dock logic will stay similar to the logic for the other stations'.

Is this assumption still valid? Will the `

[2016-02-07 07:25] jawaad-ahmad commented on #19
Also @ellerychan, how are you communicating the DNF condition to me? Will this be another parameter in the `Submit` message? If so, what does it look like?

I see `is_correct` being True/False. Is this supposed to tell me the DNF condition, or do we need another parameter?

[2016-02-08 04:35] ellerychan commented on #19
@jawaad-ahmad I'll try to answer your questions from the last 3 posts here.
1.  The `Latch` event occurs after the simulation ends, so the delta between `Start Challenge` and last `Latch` is the time the team is performing the challenge.  The time that the simulation is playing back is `min(the flight time, DOCK_SIM_PLAYBACK_TIME_S)`.  DOCK_SIM_PLAYBACK_TIME_S is 45 seconds.  I just added an issue

[2016-02-08 04:40] ellerychan commented on #28
Re-opening this issue, because I have decided we really could use CSV file import and export for the Setting table, so I will add that.

[2016-02-08 16:30] ellerychan opened #58 "Make error injection configurable on Secure challenge"
For the Secure challenge we randomly generate the lock codes, then generate the tone sequence.  We can artificially introduce errors into the tone sequence.

Make the error injection configurable.  I suggest adding the following values to the Setting table:
- **SECURE_NUM_INDUCED_ERRORS** - how many errors to introduce (0 to turn off error injection)
- **SECURE_ERROR_SIZE** - how much to perturb v

[2016-02-09 06:11] ellerychan commented on #28
Finally added CSV export and import for the Setting table.

[2016-02-09 06:11] #28 closed, assigned to ellerychan

[2016-02-10 03:10] ellerychan commented on #58
Changed it to be configurable by:
- **SECURE_NUM_INDUCED_ERRORS** - how many errors to introduce (0 to turn off error injection)
- **SECURE_ERROR_DISTRIBUTION** - a list of error amounts.  [1, -1] would cause half the errors to be increased by 1 and half to be decreased by 1.  [1, 1, 2] would cause 66.7% to be increased by 1 and 33.3% to be increased by 2.

I also added these new values to the `Se

[2016-02-10 03:21] #58 closed, assigned to ellerychan

[2016-02-10 03:22] ellerychan commented on #58
Delivered in Pull Request #60

[2016-02-10 03:24] ellerychan commented on #55
Delivered in Pull Request #57
and Pull Request #61

[2016-02-11 05:26] ellerychan commented on #49
Delivered in Pull Request #62

[2016-02-12 07:38] ellerychan commented on #28
Delivered additional functionality in Pull Request #63

[2016-02-12 07:45] ellerychan commented on #35
Addressed in Pull Request #63 and #59.

The `Setting` table has a _Description_ field, making the items self-documenting.

You can save the `Setting` table to a **.csv** file, which can be loaded and edited in Excel, and exported back to **.csv**.  The .csv file can be loaded back into the `Setting` table.  The load page lets you pick which items you want to add to or update in the `Setting` table

[2016-02-12 07:45] #35 closed, assigned to ellerychan

[2016-02-13 20:27] jawaad-ahmad commented on #19
Updated PDL in Detailed Design [above](#issuecomment-166204850) to account for recent posts regarding the dock scoring. @ellerychan please review. Thanks.

[2016-02-14 02:38] ellerychan commented on #19
@jawaad-ahmad I think your PDL for computing the **total run time delta** is correct but confusing.  I think it boils down to this:

[code]

Maybe this is clearer:

[code]

[2016-02-14 04:49] jawaad-ahmad commented on #19
@ellerychan I found the MS_Settings.xlsx file on the SharePoint site. I added the DNF_TIME_PENALTY_FACTOR and also the SCOREBOARD_STATUS_REFRESH_INTERVAL_MS items to the file and checked it back in.

[2016-02-19 03:20] ellerychan opened #70 "Create a Team test interface for the Return challenge"
Create a web form that Teams can access from the MS that lets them enter 6 angle values and submit them for verification.  The correct values correspond to a physical fixture they have been given for testing.  The correct values are stored in the MS `Setting` table, keyed by the School.

[2016-02-24 04:44] ellerychan opened #73 "Configure MS to run with Gunicorn"
Gunicorn is a lightweight python-based web server that is easy to configure and should run faster than Apache on the Pi with the kind of load we expect to have.

[2016-02-24 05:07] ellerychan commented on #73
Adding some install instructions to the ReadMe

[2016-02-26 03:57] ellerychan commented on #31
Raising the priority on this and taking it over.  We need this to get the MS ready to support student testing of some of their Brata functionality.  We don't want them accidentally getting into the admin parts of the MS.

[2016-02-27 23:42] ellerychan commented on #31
Delivered with Pull Request #76.

Admin functions of dbkeeper now require the admin login, while student testing functions do not require authentication.

[2016-02-28 03:42] ellerychan commented on #73
This needs more testing.  The results are inconclusive so far.  I don't really know how to measure the performance and how to see what is causing the delays.

I really only did the bare minimum to get Gunicorn installed and running with the MS configuration.  It is not clear whether we need Nginx also in the mix, but I did not try that yet.

[2016-02-28 04:14] ellerychan opened #77 "Reformat Student Test Page"
Reformat the Student Test links page, reachable by **http://**_&lt;ms&gt;_**/hsdc/test/**.
- Reformat it so the school grouping is more apparent.
- Add the Return test and the Navigation test links.
- Sort alphabetically.

[2016-02-28 04:29] DesignChallengeGuy commented on #77
I couldn't get the link to work. It also has an extra / in the url.

Thank you for working towards this test goal.

-- Mike

Sent from my iPad

[2016-02-28 04:51] ellerychan commented on #77
@DesignChallengeGuy If you are trying to hit @jaron42's server, it may not be accessible at the moment.  I have not been able to contact it either, just now.

Also, note that I edited the link because it was not displaying correctly in my earlier message.  It should be: **http://**_&lt;ms&gt;_**/hsdc/test/**, where _&lt;ms&gt;_ is the server hostname or IP.

[2016-02-29 01:06] jaron42 opened #78 "Install Issues when trying to make new server"
Numerous issues with the install instructions were found tyring to stand up a a new image.
This issue is to track and fix them all as a new latest image is created.  As this is being done I am also using the latest Jessie build because it also offers a new option to wait for the network to be up before continuing which would help with any startup script race conditions as we switch to running guni

[2016-02-29 06:25] ellerychan commented on #77
Addressed in Pull Request #79.

[2016-02-29 06:27] ellerychan commented on #78
Maybe it will fix the **ntpdate** not setting the time on startup issue also...

[2016-03-03 00:09] ellerychan opened #81 "Add FLIGHT_SERVICE_SERVER_ADDRESS to Settings"
The `FlightService` app (in **brata.station**) can run on a different host (or the same host) as the MS.  The student test links page has a link to the `FlightService`, so somehow the MS needs to know where the `FlightService` is running so it can create a link to it.

For lack of a better idea, we will put the address (host:port) in the **Setting** table.

[2016-03-03 02:59] ellerychan commented on #81
Turns out that this value already exists in Settings:  DOCK_TEST_HOST

[2016-03-03 02:59] #81 closed, assigned to ellerychan

[2016-03-03 03:08] ellerychan opened #82 "Add MS_SERVER_HOST_ADDRESS to Settings"
The MS may operate behind a proxy firewall, so it may be difficult or impossible for it to determine its externally-facing address.  We will store that in the **Setting** table in a variable called **MS_SERVER_HOST_ADDRESS**.

[2016-03-03 06:04] ellerychan commented on #82
@jaron42 I added **MS_EXTERNAL_HOST_ADDRESS** to the _MS_Settings.xlsx_ file.

**However**, I don't think it is necessary for the outward-facing MS server pages.  I rewrote them to use Django's reverse URL lookup.  You can do that from within a view using the **reverse()** function, and you can do it in a template using the **{% url %}** template tag.

I guess you would still need it for your QR c

[2016-03-03 06:06] ellerychan commented on #82
Note:  The variable I added is named **MS__EXTERNAL__HOST_ADDRESS** not **MS__SERVER__HOST_ADDRESS**.

[2016-03-03 06:16] ellerychan commented on #82
Addressed by Pull Request #83

[2016-03-06 03:19] jawaad-ahmad commented on #19
@ellerychan I tried changing the following as you suggested:

[code]

Are you sure this will work for query objects? I got an assertion error:

[code]

[2016-03-07 04:08] ellerychan commented on #19
@jawaad-ahmad Sorry, I did not realize that **team_events** was a _QuerySet_.  I thought it was already a list.  I believe I misled you, and your original approach is better.

[2016-03-17 01:50] ellerychan opened #85 "RETURN_PARAMS JSON format may be incorrect"
@jaron42:  Please confirm this and I will fix:

The current **RETURN_PARAMS** value in the `Setting` table (as shown in the _MS_Settings.xlsx_ document) is an array with one entry for each station, but it should be a dict indexed by _station_id_.

I think it should really be this:

[code]

The doc string in _Setting.getReturnParams()_ (in `dbkeeper/models.py`) will need to be updated to reflect th

[2016-03-17 02:19] ellerychan commented on #85
Addressed in Pull Request #86.

[2016-04-03 04:28] ellerychan opened #99 "Generate QR Codes with qrcode module"
Generate QR codes and insert them into web pages using the local qrcode module instead of accessing a web service.  The MS may not have Internet access in certain situations, preventing QR  codes from being generated by an Internet web service.  The qrcode module will generate the QR codes on the local host.

[2016-04-03 16:26] jaron42 commented on #99
Still hoping you might have an implementation better than mine, but I got my slow png implementation at least working for today.

[2016-04-04 05:41] ellerychan commented on #99
@jaron42: I'm merging in my change.  I'm not exactly sure what you want the `qrcode` url to do, so I only modified the get method behavior slightly:  it used to return just an image; now it returns a web page that displays the QR code image and the text below it.

I don't know if it is slow.  To me the delay doesn't seem any different than for other MS requests.  I also tried boosting the error co

[2016-04-04 05:44] ellerychan commented on #99
Resolved by Pull Request #100 .

[2016-04-04 14:36] ellerychan commented on #99
Maybe we should change the default image type to "gif" to reduce the data size.  I made it "png" initially to make it a direct replacement for the previous functionality.

[2016-04-05 01:33] ellerychan opened #106 "Fix EDAC check digit computation"
The algorithm in the code does not match Mike's.  Make it match.

[2016-04-05 01:39] ellerychan commented on #106
Addressed by Pull Request #107

[2016-04-05 02:06] ellerychan opened #108 "Modify Launch params access method"
Modify the format of the JSON **LAUNCH_PARAMS** stored in the `Setting` table.  Modify the access method to match.

[2016-04-07 00:56] ellerychan commented on #108
Addressed by Pull Request #109

[2016-04-15 17:47] sminster opened #112 "Add per-challenge challenge status to scoreboard"
The scoreboard page should include the status of each challenge for each time -- not stated, started, and completed.  These could be in the form of icons next to the time.  Maybe no icon for not started, a clock icon for started, and a check mark or "X" for failed.

[2016-04-27 02:16] jawaad-ahmad opened #113 "Separate Applications"
The entire Master Server currently runs as a single application. This causes problems if, for example, a last-minute scoreboard change is needed and we can’t restart just the scoreboard application because it might disturb the apps managing the database, stations, or phones.

Specifically, we were hesitant to restart the apache2 service during the middle of the competition since it would momentari

[2016-04-27 02:16] jawaad-ahmad opened #114 "Scoreboard showed certain challenge times for certain teams continuing to increase even after the team complete the challenge"
During the 2016 competition, certain challenges were completed, but each page refresh continued to increment the time for certain teams.

This appeared to be due to a messaging discrepancy. The scoreboard did not receive the expected messages in the expected order. Need to fix messaging to correct this.

[2016-04-27 02:18] jawaad-ahmad opened #115 "Support scoring and timing overrides for individual teams and individual challenges"
During the 2016 competition, certain challenges were completed, but each page refresh continued to increment the time for certain teams.

Need to investigate if it’s possible to harden the scoreboard if messaging anomalies show up. Perhaps the following is sufficient for this.

What if we add a scoring overrides table in the database that holds the following columns:
- team_name
- challenge_name
-

[2016-04-27 02:22] jawaad-ahmad commented on #99
Is there anything left to do for this, or can it be resolved/closed?

[2016-04-27 02:23] jawaad-ahmad commented on #42
Is there anything more to do for this, or can it be resolved/closed?

[2016-05-04 03:44] jawaad-ahmad opened #116 "Investigate reducing/eliminating last-minute SD card copying/cloning"
This really applies to the stations, but its implementation would focus on the MS, so I'm opening the issue here.
# Problem

@DesignChallengeGuy is looking to see if last-minute SD card copying/cloning can be avoided. A significant amount of effort is expended each year the night before the competition to get the latest code and configuration onto roughly 20 SD cards--approximately six instances o

[2016-05-04 04:02] jawaad-ahmad opened #117 "Provide queries to analyze data in the database"
@DesignChallengeGuy wants to analyze the data collected during the competition. The following queries have been requested:
1. Need the exchange of messages between each team's phone an the MS during the competition.
2. How many attempts did it take each team in solving each challenge?
3. How many markers at each vertex were scanned at the Launch challenge before the correct marker was found? If th

[2016-05-04 04:16] jawaad-ahmad commented on #117
Here's my take on these off the top of my head without trying anything out. Hopefully others can refine and catch obvious problems with these prior to trying them out. Also do we have the MS SD card dump available somewhere so we can run these queries against its database dump?
1. Need the exchange of messages between each team's phone an the MS during the competition.

   SELECT *
   FROM pi_even